/* style start */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

html {
    font-size: 62.5%;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* body start */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* primary button */
.primary-btn {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    border: 0;
    color: #FFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

/* nav section start */
nav {
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 45px 240px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 20px;
}

.logo h2,
.footer-logo h2 {
    font-size: 4.5rem;
    font-weight: 700;
}

.color-linear {
    color: #FF42A5;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li {
    list-style: none;
}

.menu li a {
    color: #3C354F;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    margin-right: 32px;
}

.menu li a:hover {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
}

.youtube-color {
    color: #F61C0D;
}

/* nav section end */

/* banner section start */
.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    padding: 12px 240px;
}

.banner-text-area {
    width: 50%;
}

.banner-text h3 {
    color: #0B0223;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-text h1 {
    font-size: 9.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.banner-text p {
    color: #534C64;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    text-transform: lowercase;
}

.banner-text input {
    margin-top: 40px;
}

.btn {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    border: 0;
    color: #FFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
    margin-bottom: -15px;
}

/* banner section end */

/* we are gamer section start */
.we-are-gamer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 55px 240px;
    gap: 50px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.we-ar-gamer-img {
    width: 50%;
}

.we-ar-gamer-img img {
    width: 100%;
}

.we-ar-gamer-text {
    width: 50%;
    text-align: end;
}

.we-ar-gamer-text h3 {
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.we-ar-gamer-text p {
    color: #534C64;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
}

.we-ar-gamer-text button {
    margin-bottom: 24px;
}

.we-ar-gamer-text h6 {
    color: #534C64;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}

.we-ar-gamer-text h6 q {
    color: #534C64;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

/* we are gamer section end */

/* funny video section start */
.funny-video-container {
    margin: 120px 0px;
    padding: 0px 240px;
}

.funny-video-text {
    text-align: center;
}

.funny-video-text h3 {
    color: #0B0223;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.funny-video-text p {
    color: #534C64;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.funny-video-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.funny-video {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
.video-card {
    position: relative;
    width: 100%;
}
.video-card img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.video-play {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.video-card:hover .video-card img {
    opacity: 1;
}

.video-card:hover .video-play {
    opacity: 1;
}
.video-play-text {
    border-radius: 16px;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
.video-card p {
    color: #534C64;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}
.video-play span {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.video-play-text {
    color: white;
    font-size: 1.5rem;
}
.video-play-text i {
    font-size: 4rem;
    color: #FFF;
}

/* funny video section end */

/* play instantly section start */
.play-instantly-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 240px;
}

.play-instantly-text {
    width: 50%;
    text-align: end;
    padding: 149px;
}

.play-instantly-text h3 {
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.play-instantly-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-text p,
.play-games-text p {
    color: #534C64;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.play-instantly-img {
    width: 50%;
    padding: 60px;
    position: relative;
}

.baby-img {
    position: absolute;
    bottom: 10px;
    left: -80px;
}

/* play instantly section end */

/* careers section start */
.careers-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff55ae;
    padding: 30px 240px;
}

.careers-text {
    width: 50%;
}

.careers-text h3 {
    color: #FFF;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.careers-text p {
    color: #FFF;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.careers-inner-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.careers-inner-text p {
    color: #FFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.careers-text button {
    padding: 21px 40px;
    margin-top: 40px;
    border-radius: 48px;
    background: #FFF;
    border: 0;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: #FF42A5;

}

.careers-text-img {
    width: 50%;
}

.careers-text-img img {
    width: 100%;
}

/* careers section end */

/* gamer zone section start */
.gamer-zone-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 120px 240px;
    gap: 57px;
}

.games-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.games-item h6 {
    color: #0B0223;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.gamer-zone-container .games-item:hover {
    border-radius: 50px;
    background-color: #FFF;
    color: #F948B2;
    border: 1px solid #F948B2;
    padding: 20px 20px;
}

.games-item h6:hover {
    color: #F948B2;
}

/* gamer zone section end */

/* footer section start */
.footer-container {
    width: 100%;
    padding: 120px 553px;
    background-color: #0B0223;
    margin: 0 auto;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.footer-logo h2 {
    color: #FFF;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.footer-item,
.game-privacy-settings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.footer-item p {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-icons i {
    color: white;
    font-size: 4rem;
    margin: 66px 0px;
}

.game-privacy-settings p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer {
    text-align: center;
    margin-top: 18px;
}

.footer small {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* footer section start */

/* small devices */
@media screen and (max-width:576px) {
    html {
        font-size: 50%;
    }

    .nav-container,
    .menu,
    .careers-container {
        display: block;
    }

    .nav-container {
        text-align: center;
        padding: 20px;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .menu li {
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .banner-container {
        flex-direction: column-reverse;
        padding: 20px;
        gap: 50px;
        background-size: cover;
    }

    .banner-text-area {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-text h1 {
        margin-bottom: 15px;
    }

    .banner-img {
        width: 100%;
        margin-bottom: 0px;
    }

    .banner-img img {
        width: 100%;
    }

    .banner-text input {
        margin-top: 20px;
    }

    .we-are-gamer-container {
        display: block;
        padding: 20px;
        gap: 50px;
    }

    .we-ar-gamer-img {
        width: 100%;
    }

    .we-ar-gamer-text {
        width: 100%;
        text-align: center;
    }

    .funny-video-container {
        margin: 30px 0px;
        padding: 20px;
    }

    .funny-video {
        flex-direction: column;
        margin-top: 20px;
        gap: 25px;
        text-align: center;
    }

    .video-card img {
        width: 100%;
    }

    .play-instantly-container {
        flex-direction: column-reverse;
        padding: 0px 40px;
        align-items: center;
    }

    .play-instantly-text {
        width: 100%;
        padding: 0px;
        text-align: center;
    }

    .play-instantly-img {
        width: 100%;
        padding: 30px;
    }

    .play-instantly-img img {
        width: 100%;
    }

    .baby-img img {
        width: 30%;
        position: relative;
        top: 0px;
        left: 70px;
    }

    .careers-container {
        padding: 20px;
        margin-top: 30px;
    }

    .careers-text button {
        margin: 25px 0px;
    }

    .careers-text,
    .careers-text-img {
        width: 100%;
    }

    .careers-text-img img {
        width: 100%;
    }

    .gamer-zone-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
        margin: 20px 0px;
    }

    .footer-container {
        width: 100%;
        padding: 20px;
    }

    .footer-item,
    .game-privacy-settings {
        gap: 40px;
    }

    .footer-icons {
        gap: 20px;
    }

    .footer {
        text-align: center;
        margin: 30px 0px;
    }

}

/* Medium devices */
@media screen and (min-width:577px) and (max-width:992px) {
    html {
        font-size: 50%;
    }

    .nav-container,
    .menu,
    .careers-container {
        display: block;
    }

    .nav-container {
        text-align: center;
        padding: 20px;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }

    .menu li {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .banner-container {
        flex-direction: column-reverse;
        padding: 20px;
        gap: 50px;
        background-size: cover;
    }

    .banner-text-area {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-text h1 {
        margin-bottom: 15px;
    }

    .banner-img {
        width: 100%;
    }

    .banner-img img {
        width: 100%;
        margin-bottom: 0px;
    }

    .banner-text input {
        margin-top: 20px;
    }

    .we-are-gamer-container {
        display: block;
        padding: 20px;
        gap: 50px;
    }

    .we-ar-gamer-img {
        width: 100%;
    }

    .we-ar-gamer-text {
        width: 100%;
        text-align: center;
    }

    .funny-video-container {
        margin: 30px 0px;
        padding: 20px;
    }

    .funny-video {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin-top: 20px;
        gap: 25px;
        justify-content: center;
        align-items: center;
    }

    .video-card img {
        width: 100%;
    }

    .play-instantly-container {
        flex-direction: column-reverse;
        padding: 0px 80px;
        align-items: center;
    }

    .play-instantly-text {
        width: 100%;
        padding: 0px;
        text-align: center;
    }

    .play-instantly-img {
        width: 100%;
        padding: 30px;
    }

    .play-instantly-img img {
        width: 100%;
    }

    .baby-img img {
        width: 50%;
        position: relative;
        top: 0px;
        left: 40px;
    }

    .careers-container {
        padding: 20px;
        margin-top: 30px;
    }

    .careers-text button {
        margin: 25px 0px;
    }

    .careers-text,
    .careers-text-img {
        width: 100%;
    }

    .careers-text-img img {
        width: 100%;
    }

    .gamer-zone-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 50px;
        margin: 40px 0px;
    }

    .footer-container {
        width: 100%;
        padding: 20px;
    }

    .footer-item,
    .game-privacy-settings {
        gap: 60px;
    }

    .footer-icons {
        gap: 30px;
    }

    .footer {
        text-align: center;
        margin: 30px 0px;
    }

}